
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

.nav{
    background-image: url(images/IMG-20220222-WA0010.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: yellow;
}

#menu ul{
    display: flex;
    list-style: none;
}

#menu ul li{
    margin: 20px;
}

#menu ul li a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
}
.aboutUsMain{
    text-align: center;
}

.aboutUs{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 30px;
    padding: 20px;
    justify-content: center;
    font-size: 30px;
}

.servicesMain{
   text-align: center;
}

.services{
    display: flex;
    justify-content: center;

}

.card{
    border-style: groove;
    margin: 20px;
}

.card img{
    width: 50%;
}
