
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;
    
}

html {
    scroll-behavior: smooth;
  }

* h1{
    font-size: 30px;
    color: #200bf4;
}

.banner{
    background-image: url(images/IMG-20220222-WA0010.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: yellow;
}

.navbar h1{
    font-size: 50px;
}

#menu ul{
    display: flex;
    list-style: none;
}

#menu ul li{
    margin: 20px;
}

#menu ul li a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
}

#menu ul li a:hover{
 color: #200bf4;
}
.aboutUsMain{
    text-align: center;
    background-color: rgba(128, 128, 128, 0.171);
}

.aboutUs{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    /* font-size: 30px; */
}

.aboutUs img{
    height: 350px;
}

.resumeMain{
    background-color: rgba(245, 220, 185, 0.637);
    
}
.resume{
    display: flex;
    justify-content:space-around;    
}

.resume table{
    text-align: left;
    /* padding: 2rem; */
    max-width: 5px;
    
}

.resume table, th, td{
    border: 1px solid black;
}
.resumeCard{
    width: 50%;
    margin: 20px;
}

.servicesMain{
   text-align: center;
   background-color: yellow;
}

.services{
    display: flex;
    justify-content: center; 
    align-items: center;
    padding-top: 10px;   

}

.card{
    border-style: groove;
    margin: 20px;
    border-radius: 10px;
    font-size: 20px;
    
}

.card img{
    width: 300px;
    margin-bottom: 10px;
    margin-top: 20px;
}
#portfolioMain{
    /* text-align: center; */
    background-color: rgba(245, 220, 185, 0.637);
}

.portfolio{
    display: flex;
    justify-content: center;
    margin: 30px;
}

.portfolioImg{
    margin: 10px;
    border-style:groove;
    border-radius: 5px;
}

.portfolioImg a{
    text-decoration: none;
    color: #200bf4;
}
.portfolioImg img{
    width: 350px;
        
}

.mainContactUs{
    text-align: center;
    margin-top: 30px;
    padding: 30px;

}
.contactUs{
    display: flex;
    justify-content: center;
    margin: 30px;
}

.insideContactUs{
    margin: 50px;
}

.insideContactUs img{
    width: 40%;

}

footer{
  align-items: center;  
}

.footerCon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: yellow;    
}

#menuFooter ul{
    list-style: none;
}

#menuFooter ul li a{
    color: #000000;
    text-decoration: none;
}

#menuFooter ul li a:hover{
    color: #200bf4;
}

h4{
    color: #200bf4;
}

.socialLinks ul{
    list-style: none;
}

.socialLinks ul li a{
    text-decoration: none;
    color: #000000;
}

.socialLinks ul li a:hover{
    color: #200bf4;
}

.copyright{
    text-align: center;
    margin: 20px;
}

@media screen and (max-width: 500px){
    .navbar{
        flex-wrap: wrap;
    }    
}

@media screen and (max-width:870px){
    #menu ul {
        display: flex;
        flex-direction: column;
    }

    .aboutUs{
        flex-direction: column;
    }

    .contactUs{
        flex-wrap: wrap;
    }
    
}

@media screen and (max-width: 480px) {
    .banner{
        background-size: contain;
    }
}

@media screen and (max-width:950px){
    .resume{
        flex-wrap: wrap;
    }   
}

@media screen and (max-width:1050px){
    .services{
        flex-wrap: wrap;
    }
        
}
@media screen and (max-width:1130px){
    .portfolio{
        flex-wrap: wrap;
    }
    
}

@media screen and (max-width:700px){
    .footerCon{
        flex-direction: column;
        margin: 5px;
    }
  
}


