.nav{
    background-image: url(images/IMG-20220222-WA0010.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: yellow;
}

#menu ul{
    display: flex;
    list-style: none;
}

#menu ul li{
    margin: 20px;
}

#menu ul li a{
    text-decoration: none;
    color: #000000;
}